{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block title %}添加博客{% endblock %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/edit_blog.css' %}">
        <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
        <link rel="stylesheet" href="{% static 'editor/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'editor/css/editormd.css' %}">
        <script type="text/javascript" src="{% static 'editor/editormd.min.js' %}"></script>
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="container">

        <form class='form-edit' action="{% url 'myblog:mdeditor' %}" method="post">
            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}

            {% csrf_token %}

            <div class="form-group">
                <label>文章标题：</label>
                <input type="text" name='title' class="form-control" id="title" placeholder="输入文章的标题"
                       value="{{ title }}" maxlength="40" autofocus required>
            </div>

            <div class="form-group">
                <label>文章内容：</label>
                <div id="editormd" class="col-md-10 text-left">
                    <textarea name="content" id="editormd" placeholder="文章的描述。。。"
                              style="display:none;">{{ content }}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label>文章类型：</label>
                <select type="checkbox" name="tags">
                    <option selected value="0">请选择</option>
                    {% for mark in marks %}
                        <option value="{{ mark.tags }}">{{ mark.tags }}</option>
                    {% endfor %}
                </select>
                {#创建#}
                <a id="admarks" class="admarks" href="javascript:void(0);">添加分类</a>
                <input name="newmarks" class="newmarks" type="text" maxlength="20" value="暂关闭此功能" readonly="readonly">
            </div>

            <button type="submit" class="btn btn-primary pull-left" id="fabu">发布博客</button>
        </form>

        <script type="text/javascript">
            $(function () {
                editormd("editormd", {
                    {#mode:'markdown',#}
                    width: "100%",
                    height: 640,
                    autoFocus: false,
                    placeholder: '编写文章内容...',
                    syncScrolling: 'single',
                    imageUpload: true,//启用本地图片上传
                    imageFormats: ["jpg", "jpeg", "gif", "png", "bmp"],
                    imageUploadURL: "{%  url 'myblog:uploadImg' %}", //文件提交请求路径
                    path: "{% static 'editor/lib/' %}",
                });
            });
        </script>
    </div>
{% endblock %}
</body>
</html>