{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>

    {% block title %}编辑博客{% endblock %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/edit_blog.css' %}">
        <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="container">
{#    {% url 'myblog:modify' %}#}
        <form class='form-edit' action="{{ request.path }}" method="post">
            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}
            {% csrf_token %}

            <div class="form-group">
                <input type="hidden" name='id' class="form-control" id="id" value="{{ blog.id }}">
            </div>

            <div class="form-group">
                <label for="title">文章标题：</label>
                <input type="text" name='title' class="form-control" id="title" placeholder="输入文章的标题"
                       value="{{ blog.title }}" maxlength="40" autofocus required>
            </div>
            <div class="form-group">
                <label for="content">文章内容：</label>
                <textarea class="form-control content" name="content" id="content" placeholder="文章的描述。。。"
                          style="resize:none;" required>{{ blog.content|safe }}</textarea>
            </div>

            <div class="form-group">
                <label for="id_password">文章类型：</label>
                <select type="checkbox" name="tags">

                    {% for mark in marks %}
                        {#  编辑时，要选中之前的标记#}
                        {% if mark == blog.marks %}
                            <option selected value="{{ mark.tags }}">{{ mark.tags }}</option>
                        {% else %}
                            <option value="{{ mark.tags }}">{{ mark.tags }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary pull-left" id="fabu">发布博客</button>
        </form>
    </div>
{% endblock %}
</body>
</html>