{% extends 'base.html' %}
{% load static %}
{% block title %}主页{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
    <style>
        .myblog {
            background-color: #e7e7e7;
        }
    </style>
{% endblock %}
{% block content %}


    <div class="container">

        <form action="{% url 'blog:indexsearch' %}" method="get" class="form-horizontal"
              style="overflow: hidden;padding: 0  10px 0 40px">
            <div class="form-group has-success" style="float: right">

                <div class="col-sm-9">
                    <input type="text" class="form-control" name="title" placeholder="输入要搜索的博客标题" maxlength="50">
                </div>
                <div class="col-sm-3">
                    <input type="submit" class="btn btn-primary  btn-group-sm" value="查询">
                </div>
            </div>
        </form>
        <br>
        <ul class="feedlist_id">
            {% for blog in blogs %}

                <li>
                    <h2>
                        {% if blog.tops %}
                            <span></span>
                        {% endif %}
                        <a href="{% url 'blog:blog_page' blog.id %}">{{ blog.title }}</a></h2>

                    <div class="online summary">
                        {{ blog.content }}
                    </div>
                    <div class="userbar">
                        <div class="fl">
                            <a class="name" href="{% url 'center:usercenter' blog.uname %}">{{ blog.uname }}</a>
                            <span class="little"></span>
                            <a class="time">{{ blog.utime|date:"Y-m-d H:i:s" }}</a>
                            <span class="little"></span>
                            <a class="marks" href="{% url 'myblog:mark' blog.uname blog.marks %}">{{ blog.marks }}</a>
                        </div>
                        <div class="fr">
                            <span>{{ blog.rcount }}</span> 阅读
                            <span class="little"></span>
                            <span>{{ blog.coms }}</span> 评论
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>

        {#    分页#}
        {% if arg_urls %}
            {% include 'arg_page.html' %}
        {% else %}
            {% include 'paging.html' %}
        {% endif %}
    </div>
{% endblock %}