{% extends 'base.html' %}
{% load static %}
{% block title %}主页{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
    <style>
        .myblog {
            background-color: #e7e7e7;
        }
    </style>
{% endblock %}
{% block content %}


    <div class="container">

        <form action="{% url 'blog:indexsearch' %}" method="get" class="form-horizontal"
              style="overflow: hidden;padding: 0  10px 0 40px">
            <div class="form-group has-success" style="float: right">

                <div class="col-sm-9">
                    <input type="text" class="form-control" name="title" placeholder="输入要搜索的博客标题" maxlength="50">
                </div>
                <div class="col-sm-3">
                    <input type="submit" class="btn btn-primary  btn-group-sm" value="查询">
                </div>
            </div>
        </form>
        <br>
        <ul class="feedlist_id">
            {% for blog in blogs %}

                <li>
                    <h2>
                        {% if blog.tops %}
                            <span></span>
                        {% endif %}
                        <a target="_blank" href="{% url 'blog:blog_page' blog.id %}">{{ blog.title }}</a></h2>
                    <div class="oneline summary">
                        {{ blog.content }}
                    </div>
                    <div class="userbar">
                        <div class="fl">
                            <a class="name" href="{% url 'center:usercenter' blog.uname %}">{{ blog.uname }}</a>
                            <span class="little"></span>
                            <a class="time">{{ blog.utime|date:"Y-m-d H:i:s" }}</a>
                            <span class="little"></span>
                            <a class="marks" href="{% url 'myblog:mark' blog.uname blog.marks %}">{{ blog.marks }}</a>
                        </div>
                        <div class="fr">
                            <span>{{ blog.rcount }}</span> 阅读
                            <span class="little"></span>
                            <span>{{ blog.coms }}</span> 评论
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>


        {#    分页#}
        <ul class="pagination" id="pager">
            <li class="previous"><a href="?page=1">首页</a></li>
            {#上一页按钮开始#}
            {# 如果当前页有上一页#}
            {% if blogs.has_previous %}
                {#  当前页的上一页按钮正常使用#}
                <li class="previous"><a href="?page={{ blogs.previous_page_number }}">上一页</a></li>
            {% else %}
                {# 当前页的不存在上一页时,上一页的按钮不可用#}
                <li class="previous disabled"><a href="javascript:void(0);">上一页</a>

                </li>
            {% endif %}
            {#上一页按钮结束#}
            <li>
                <input type="text" id="gotoPage" class="form-control" onkeyup="this.value=this.value.replace(/\D/g,'')"
                       style="width: 80px; display: inline-block;float: left;">
                <a id="pageBtn" class="btn btn-default" href="" style="margin-left: 0;">GO</a>

            </li>
            {# 下一页按钮开始#}
            {% if blogs.has_next %}
                <li class="next"><a href="?page={{ blogs.next_page_number }}">下一页</a></li>
            {% else %}
                <li class="next disabled"><a href="javascript:void(0);">下一页</a></li>
            {% endif %}
            {# 下一页按钮结束#}
            <li class="previous"><a href="?page={{ paginator.num_pages }}">尾页</a></li>
            <li class="counts"> 共{{ paginator.num_pages }}页，当前第{{ currentPage }}页</li>

        </ul>
    </div>
{% endblock %}