{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
    <style type="text/css">
        .myblog {
            background-color: #e7e7e7;
        }

    </style>
{% endblock %}
{% block title %}
    {% if request.user.is_authenticated %}
        {{ request.user }}的博客
    {% else %}
        我的博客

    {% endif %}
{% endblock %}

{% block content %}


    <div class="container">

        <form action="{% url 'myblog:msearch' %}" method="get" class="form-horizontal"
              style="padding-left: 40px;">
            <div class="row">
                <div class="col-md-10 col-sm-10  pull-right">
                    <div class="col-md-1 col-sm-2 pull-right">
                        <input type="submit" class="btn btn-primary  btn-group-sm" value="查询">
                    </div>
                    <div class="col-md-3 col-sm-8 has-success pull-right" style="padding: 0;">
                        <input type="text" class="form-control" name="title" placeholder="输入要搜索的博客标题" maxlength="50">
                    </div>

                </div>


                <div class="col-md-2 col-sm-2 pull-left">

                    <div class=" pull-left has-success">

                        <a href="{% url 'myblog:mdeditor' %}" style="color: white;text-decoration: none;" id="addblog"
                           class="btn btn-success">新增博客</a>
                    </div>

                </div>
            </div>
        </form>
        <br>
        {% if blogs %}
            <ul class="feedlist_id">

                {% for blog in blogs %}

                    <li id="blog{{ blog.id }}">
                        <h2>
                            {% if blog.tops %}
                                <span></span>
                            {% endif %}
                            <a  href="{% url 'blog:blog_page' blog.id %}">{{ blog.title }}</a></h2>
                        <div class="online">
                            <a href="{% url 'blog:blog_page' blog.id %}" class="summary">
                                {{ blog.content }}
                            </a>
                        </div>
                        <div class="userbar">
                            <div class="fl">

                                <a class="marks" href="{% url 'myblog:modify' %}?id={{ blog.id }}">编辑</a>
                                <span class="little"></span>
                                <a class="marks" href="{% url 'myblog:mdel' %}?id={{ blog.id }}" onclick="del()">删除</a>
                                <span class="little"></span>
                                <a class="time">{{ blog.utime |date:"Y年m月d日  H:i:s" }}</a>
                                <span class="little"></span>
                                <a class="marks"
                                   href="{% url 'myblog:mark' blog.uname blog.marks %}">{{ blog.marks }}</a>

                            </div>
                            <div class="fr">
                                <span>{{ blog.rcount }}</span> 阅读
                                <span class="little"></span>
                                <span>{{ blog.coms }}</span> 评论
                                <span class="little"></span>
                                <span>{{ blog.like }}</span> 赞
                            </div>
                        </div>

                    </li>
                {% endfor %}
            </ul>
            {# 分页#}
            {% if arg_urls %}
                {% include 'arg_page.html' %}
            {% else %}
                {% include 'paging.html' %}
            {% endif %}



        {% else %}
            {#在用户没有博客，或者搜索博客为空时显示#}
            <div style="height: 300px;text-align: center;padding-top: 200px;">还没博客？快去写写吧！<br>
                <a href="{% url 'myblog:mdeditor' %}">去写博客啦</a></div>
        {% endif %}

    </div>


    <script type="text/javascript">
        function del() {
            if (!confirm("确认要删除？")) {
                window.event.returnValue = false;
            }
        }
    </script>

{% endblock %}

