{% extends 'base.html' %}
{% load static %}
{% block title %} 接口测试 {% endblock %}
{% block css %}
    <script type="text/javascript" src="{% static 'js/news.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/interface.css' %}">
    <style>
        pre {
            outline: 1px solid #ccc;
            padding: 5px;
            margin: 5px;
        }

        .string {
            color: green;
        }

        .number {
            color: darkorange;
        }

        .boolean {
            color: blue;
        }

        .null {
            color: magenta;
        }

        .key {
            color: red;
        }
    </style>
{% endblock %}


{% block content %}

    <div class="container">
        <ul class="forms form-group col-lg-10 col-md-10 col-sm-10">
            <li>
                <div class="form-group">
                    <label>URL：请求的地址</label>
                    <input type="text" class="form-control" placeholder="url" id="urls"
                           value="http://t.weather.sojson.com/api/weather/city/101250101">
                </div>
            </li>

            <li>
                <div class="form-group">
                    <label>Content-Type：默认为'text/html'</label>
                    <input type="text" class="form-control" placeholder="Content-Type" id="content_type">
                </div>
            </li>
            <li>
                <div class="form-group">
                    <label>User-Agent：默认为空</label>
                    <input type="text" class="form-control" placeholder="User-Agent" id="user_agent">
                </div>
            </li>
            <li>

                <div class="form-group">
                    <label>请求方式：</label>
{#                    <input type="text" class="form-control" placeholder="默认GET请求" id="mode">#}
                    <select id="mode">
                        <option value="1">GET</option>
                        <option value="2">POST</option>
                    </select>
                </div>

            </li>

            <li>
                <label>请求参数：</label>
                <div class="form-inline" id="datas">
                    <div class="form-group kv">
                        <label>Key：</label>
                        <input type="text" class="form-control keys" placeholder="k">
                        <label>&nbsp; Value：</label>
                        <input type="text" class="form-control vals" placeholder="v">
                    </div>
                    <input type="button" class=" btn btn-primary" id="add-data" value="+">
                    <input type="button" class=" btn btn-primary" id="del-data" value="-">
                </div>
            </li>
            <li>
                <button type="button" class="btn btn-primary" id="send">Send</button>
            </li>
        </ul>
        <pre class="result" id="txt">
{#            <code></code>#}
        </pre>
    </div>

    <script type="text/javascript">

        $(function () {

            divs = '<div class="form-group kv">' + $("#datas").children().html() + '</div>';
            {#添加数据按钮#}
            $("#add-data").click(function () {
                $("#datas").append(divs);
            });
            {#删除数据栏按钮#}
            $("#del-data").click(function () {
                var gud = $("#datas").children().length;
                if (gud > 3) {
                    $("#datas div:last").remove();
                } else {
                    alert("必须保留一个");
                }
            });

            function syntaxHighlight(json) {
                if (typeof json != 'string') {
                    json = JSON.stringify(json, undefined, 4);
                }
                json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
                return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g,
                    function (match) {
                        var cls = 'number';
                        if (/^"/.test(match)) {
                            if (/:$/.test(match)) {
                                cls = 'key';
                            } else {
                                cls = 'string';
                            }
                        } else if (/true|false/.test(match)) {
                            cls = 'boolean';
                        } else if (/null/.test(match)) {
                            cls = 'null';
                        }
                        return '<span class="' + cls + '">' + match + '</span>';
                    });
            }

            $("#send").click(
                function () {
                    var reqdata = {};
                    var ks = "";

                    $.each($(".kv"), function (index, item) {
                        ks = $(item).children('.keys').val();
                        if (ks) {
                            reqdata[ks] = $(item).children('.vals').val();
                        }
                    });
                    {#csrfmiddlewaretoken: $("input:first").val(),#}
                    var strs = "";
                    for (var k in reqdata) {
                        {#拼接成字符串#}
                        strs += "&" + k + "=" + reqdata[k];
                    }
                    if (reqdata.length === 0) {
                        strs = "";
                    }
                    $.ajax({
                        type: "post",
                        url: "{% url 'interface:get' %}",
                        data: {
                            urls: $('#urls').val(),
                            datas: strs,
                            content_type: $("#content_type").val(),
                            user_agent: $("#user_agent").val(),
                            mode:$("#mode").val(),

                        },
                        async: true,
                        dataType: "json",
                        success: function (data) {
                            {#alert(typeof data);#}
                            re = new RegExp(",", "g");

                            var Newstr = syntaxHighlight(data.data).replace(re, ",<br/>");

                            $("#txt").html(Newstr);
                            {#$("#txt").html(JSON.stringify(data, null, 4));#}

                            {#syntaxHighlight(data.data)#}
                            {#JSON.stringify(data.data, null, 2);#}


                        }, error: function (data) {
                            alert(data.data);
                        }
                    });
                }
            );


        });
    </script>

{% endblock %}

