{% extends 'base.html' %}
{% load static %}
{% block title %} 接口测试 {% endblock %}
{% block css %}
<script type="text/javascript" src="{% static 'js/news.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/news.css' %}">
<style type="text/css">
    .interface {
        background-color: #e7e7e7;
    }


</style>
{% endblock %}


{% block content %}

<div class="container">

    <form class="form-inline">
        {% csrf_token %}
        <div class="row ">


            <div class="form-group col-lg-12 col-md-12 col-sm-12">
                <label for="url">URL </label>
                <input type="text" class="form-control" id="url" placeholder="url" style="width: 90%;">
            </div>
        </div>


        <div class="row ">
            <div class="form-group">
                <label for="k1">k</label>
                <input type="text" class="form-control" id="k1" placeholder="k">
            </div>
            <div class="form-group">
                <label for="v1">v</label>
                <input type="text" class="form-control" id="v1" placeholder="v">
            </div>
            <div class="form-group">

                <input type="button" class="form-control btn btn-default" id="v2" value="添加">
            </div>
        </div>

        <button type="submit" class="btn btn-default">Send</button>
    </form>


    <div id="txt"></div>
</div>

<script type="text/javascript">

    $(function () {

        delComm = function () {
            $.ajax({
                type: "post",
                url: "{% url 'interface:get' %}",
                data: {
                    csrfmiddlewaretoken: $("input:first").val(),
                    urls: $('#urls').val(),
                    title: $('#title').val()

                },
                async: true,
                success: function (data) {

                    data = JSON.parse(data);

                    if (data['status'] == 10000) {
                        $('#txt').html(data['data']);
                    }


                }
            });
        }
    });
</script>

{% endblock %}

