ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fr {
    float: right;
}

#navs a:hover {
    background-color: #e7e7e7;
}

/* 指正常的未被访问过的链接*/
a:link {
    text-decoration: none;
}

/*指已经访问过的链接*/
a:visited {
    text-decoration: none;
}

/*指鼠标在链接*/
a:hover {
    text-decoration: none;
}

/* 指正在点的链接*/
a:active {
    text-decoration: none;
}

/*翻页部分*/
.counts {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #337ab7;
    background-color: #fff;
}

