ul {
    padding: 0 100px;
}

.user {
    list-style: none;
    width: 100%;

}

.user li{
    width: 100%;
    /*height: 60px;*/
    overflow: hidden;
    border-bottom: solid 1px #DCDCDC;
    line-height: 60px;
}

.blog li {
    width: 100%;
    /*height: 60px;*/
    overflow: hidden;
    border-bottom: solid 1px #DCDCDC;
  
}

.tag {
    padding-top: 50px;
    padding-left: 40px;
}

.oneline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a:hover {
    text-decoration: none;

}

/*鼠标移动标题时变红*/
.blog ul li a:hover {
    color: #a51e1e;
}

.tags {
    list-style: none;
}

.tags li {
    min-width: 50px;
    /*width: 50px;*/
    /*height: 30px;*/
    line-height: 30px;
    float: left;
    margin-right: 15px;
    background-color: #00B0E7;
    border-radius: 8px;
    text-align: center;
}

.tags li a {
    color: black;
}

/*博客*/
.blog ul li h4 a {
    text-decoration: none;
    color: #3d3d3d;
    display: block;
    line-height: 24px;
    height: 24px;
    word-wrap: break-word;
    word-break: break-all;
    font-weight: bold;
}

.blog ul span {
    color: #6b6b6b;
}

.blog .blog-content {

    width: 100%;
    word-break: break-all;
    /*line-height: 1.5;*/
    margin: 0;
    margin-bottom: 10px;
    line-height: 21px;
    max-height: 63px;

    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: pre-wrap;*/

    color: #999;
}