.user span {
    display: inline-block;
    min-width: 70px;
    text-align: justify;
    text-align-last: justify;
}

ul {
    padding: 0 100px;
}

.user {
    list-style: none;
    width: 100%;

}

.user li {
    width: 100%;
    /*height: 60px;*/
    overflow: hidden;
    border-bottom: solid 1px #DCDCDC;
    line-height: 60px;
}

.blog-box ul.blogs li {
    width: 100%;
    /*height: 60px;*/
    overflow: hidden;
    border-bottom: solid 1px #DCDCDC;

}

.tag {
    padding-top: 50px;
    padding-left: 40px;
}

.oneline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a:hover {
    text-decoration: none;

}

/*鼠标移动标题时变红*/
.blog-box ul.blogs li a:hover {
    color: #a51e1e;
}

.tags {
    list-style: none;
}

.tags li {
    min-width: 50px;
    /*width: 50px;*/
    /*height: 30px;*/
    line-height: 30px;
    float: left;
    margin-right: 15px;
    background-color: #00B0E7;
    border-radius: 8px;
    text-align: center;
}

.tags li a {
    color: black;
}

/*博客*/
.blog-box ul.blogs li h4 a {
    text-decoration: none;
    color: #3d3d3d;
    display: inline-block;
    line-height: 24px;
    height: 24px;
    word-wrap: break-word;
    word-break: break-all;
    font-weight: bold;
}

.blog-box ul span {
    color: #6b6b6b;
}

.blog-box .blog-content {

    width: 100%;
    word-break: break-all;
    /*line-height: 1.5;*/
    margin: 0;
    margin-bottom: 10px;
    line-height: 21px;
    max-height: 63px;

    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: pre-wrap;*/

    color: #999;
}

.container .info {
    padding: 3px 5px;
    float: right;
    font-size: 14px;
    color: black;
    margin-right: 100px;
    background-color: #00B0E7;
}

.container .info:hover {
    background-color: #1976D2;
}

.other-info {
    position: absolute;
    margin: auto;
    width: 600px;
    height: 400px;
    background-color: #40adde;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px #40adde solid;
}

.other-info .top-close {
    text-align: center;
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.other-info .top-close .cls {
    cursor: pointer;
    float: right;
    width: 60px;
    height: 30px;
}

.other-info .info-con {
    width: 100%;
    height: 364px;
    background-color: #eee;
}

.info-con .ulist {
    list-style: none;
    padding: 10px;
}

.info-con .ulist li {
    line-height: 25px;
    margin: 10px;
}

.info-con .ulist li > span {
    display: inline-block;
    min-width: 70px;
    text-align-last: justify;
}

.info-con .ulist label {
    font-weight: normal;
}

.blog-box>ul.blogs>li>h4>span {
    float: left;
    width: 31px;
    height: 17px;
    background-position: -172px -108px;
    background-image: url(../img/thread_item.png);
    margin: 3px 10px 0 0;
}

.page-center{
 margin-left: 100px;
}