.form-edit{

}

.form-edit input{
outline: none;
}
input:focus {
  /*outline-color: green;*/
}
/*input{*/

/*border-color:green;*/
/*}*/

textarea.content{
    height: 300px;
}

/*添加标签*/
.admarks{
    margin-left: 15px;
}

.newmarks{
    display: none;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
}