ul {
    list-style: none;
}

.fr{
    float: right;
}
.oneline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.summary {
    color: #8a8a8a;
    line-height: 24px;
    font-size: 13px;
    margin-bottom: 4px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    height: 24px;
    margin-bottom: 4px;
    display: inline-block;
}

.feedlist_id li a {
    text-decoration: none;
    color: #3d3d3d;
    display: block;
    line-height: 24px;
    height: 24px;
    word-wrap: break-word;
    word-break: break-all;
}

/*.feedlist_id li a:visited {*/
    /*color: #b8b8b8;*/
/*}*/

.feedlist_id li a:hover {
    color: #a51e1e;
}
.userbar{
    overflow: hidden;
}
.userbar .fl, .userbar .fl a, .userbar .fl span {
    float: left;
}

.userbar .fl .little, .userbar .fr .little {

    width: 2px;
    height: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.userbar .fr span, .userbar .fl .marks {
    color: #3399ea;
}

.userbar .fl a {
    display: inline-block;

}

.userbar .fl .time:hover {
    color: #3d3d3d;
}
.userbar a:hover{
    color: #3399ea;
}



.form-search {
float: right;

}

/*翻页部分*/
.counts{
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #337ab7;
    background-color: #fff;
}
.pagination{
    margin-left: 40px;
}