ul {
    list-style: none;
}

.oneline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.summary {
    color: #8a8a8a;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 4px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    height: 24px;
    margin-bottom: 4px;
    display: inline-block;
}

.feedlist_id li h2 > a, .feedlist_id li .fl a {
    text-decoration: none;
    color: #3d3d3d;
    display: inline-block;
    line-height: 24px;
    height: 24px;
    word-wrap: break-word;
    word-break: break-all;
}

/*.feedlist_id li .oneline>a{*/
/*color: #8a8a8a;*/
/*}*/
/*.feedlist_id li a:visited {*/
/*color: #b8b8b8;*/
/*}*/

.feedlist_id li a:hover {
    color: #a51e1e;
}

.feedlist_id li h2 span {
    float: left;
    width: 31px;
    height: 17px;
    background-position: -172px -108px;
    background-image: url(../img/thread_item.png);
    margin: 3px 10px 0 0;
}

.userbar {
    overflow: hidden;
}

.userbar .fl, .userbar .fl a, .userbar .fl span {
    float: left;
}

.userbar .fl .little, .userbar .fr .little {

    width: 2px;
    height: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.userbar .fr span, .userbar .fl .marks {
    color: #3399ea;
}

.userbar .fl a {
    display: inline-block;

}

.userbar .fl .time:hover {
    color: #3d3d3d;
}

.userbar a:hover {
    color: #3399ea;
}

.form-search {
    float: right;

}