ul.newul {
    list-style: none;
    overflow: hidden;
    /*margin-left: 20px;*/
}

ul.newul li {
    width: 260px;
    margin-top: 20px;
    margin-right: 60px;
    min-height: 62px;
    float: left;
}

ul.newul li h2 {
    line-height: 26px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    /*color: #333333;*/
}

ul.newul li a {
    display: block;
    word-wrap: break-word;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

ul.newul li a:hover {
    color: #0A7EC3;
}

ul.newul li img {
    display: block;

    height: 160px;
}

/*=============华丽的分界线=============*/
.foucsBox {
    margin: 0 auto;
    width: 600px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.foucsBox ul {
    width: 1000%;
    float: left;
}

.foucsBox ul li a {
    display: inline-block;
    width: 600px;
    height: 400px;
    position: relative;
}

.foucsBox ul li p {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 24px;
    text-align: center;
}

.foucsBox .lbtn {
    position: absolute;
    width: 34px;
    height: 56px;
    top: 183px;
    left: 0;
    z-index: 1;
    background: url(../img/arrLeftFocus.png) no-repeat rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.foucsBox .rbtn {
    position: absolute;
    width: 34px;
    height: 56px;
    top: 183px;
    right: 0;
    z-index: 1;
    background: url(../img/arrRigFocus.png) no-repeat rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/*分界线*/
/*轮播图下方的房产文章*/
.zcnews {

    width: 600px;
    margin: 30px auto;

}
.zcnews>h3{
    display: inline-block;
    color: black;
    background-color: red;
}

.zcnews ul li {
    margin-bottom: 20px;
}

.zcnews ul li h4 a {
    color: black;
    font-weight: bold;
}

.zcnews ul li p {
    text-indent: 2em;

}

.zcnews ul li p a {
    color: #8a8a8a;
}