ul.newul {
    list-style: none;
    overflow: hidden;
    /*margin-left: 20px;*/
}

ul.newul li {
    width: 260px;
    margin-top: 20px;
    margin-right: 60px;
    min-height: 62px;
    float: left;
}

ul.newul li h2 {
    line-height: 26px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    /*color: #333333;*/
}

ul.newul li a {
    display: block;
    word-wrap: break-word;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

ul.newul li a:hover {
    color: #0A7EC3;
}

ul.newul li img {
    display: block;

    height: 160px;
}
