{% extends 'base.html' %}
{% load static %}
{% block title %}主页{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
    <style type="text/css">
        .index {
            background-color: #e7e7e7;
        }

    </style>
{% endblock %}
{% block content %}


    <div class="container">

        <form action="{% url 'blog:indexsearch' %}" method="get">
            <div class="row ">

                <div class="col-md-1 col-sm-1.5 pull-right">
                    <input type="submit" class="btn btn-primary  btn-group-sm" value="查询">
                </div>
                <div class="col-md-3 col-sm-4 has-success pull-right" style="padding: 0;">
                    <input type="text" class="form-control" name="title" placeholder="输入要搜索的博客标题" maxlength="50">
                </div>
            </div>

        </form>

        <br>
        {% if blogs %}
            <ul class="feedlist_id">
                {% for blog in blogs %}

                    <li>
                        <h2>
                            {% if blog.tops %}
                                <span></span>
                            {% endif %}
                            <a target="_blank" href="{% url 'blog:blog_page' blog.id %}">{{ blog.title }}</a></h2>
                        <div class="oneline">
                            <a href="{% url 'blog:blog_page' blog.id %}" style="font-size: 14px;" class="summary">
{#                                {% autoescape on %}#}
                                {{ blog.content }}
{#                                {% endautoescape %}#}
                            </a>
                        </div>
                        <div class="userbar">
                            <div class="fl">
                                <a class="marks" target="_blank"
                                   href="{% url 'center:usercenter' blog.uname %}">{{ blog.uname }}</a>
                                <span class="little"></span>
                                <a class="time">{{ blog.ctime |date:"Y年m月d日  H:i:s" }}</a>
                                <span class="little"></span>

                                <a class="marks" href="{% url 'blog:marks' blog.marks %}">{{ blog.marks }}</a>
                            </div>
                            <div class="fr">
                                <span>{{ blog.rcount }}</span> 阅读
                                <span class="little"></span>
                                <span>{{ blog.coms }}</span> 评论
                                <span class="little"></span>
                                <span>{{ blog.like }}</span> 赞
                            </div>

                        </div>

                    </li>
                {% endfor %}
            </ul>
            {#分页#}
            {% if arg_urls %}
                {% include 'arg_page.html' %}
            {% else %}
                {% include 'paging.html' %}
            {% endif %}
            {#{{ % include 'top.html' with mycss='acss' % }}#}
        {% else %}
            {#没有博客，或者搜索博客为空时显示#}
            <div style="height: 300px;text-align: center;padding-top: 200px;">没有找到相关的博客，发挥你的洪荒之力吧！
                <br>
                <a href="{% url 'myblog:mdeditor' %}">我来写写</a></div>
        {% endif %}
        {#<div style="float: right;width: 200px;height: 500px;background-color: black;position: absolute;top: 50px;right: 20px;">要显示在右侧</div>#}
    </div>


{% endblock %}