{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>平台商城</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <style type="text/css">
        .shop {
            background-color: #e7e7e7;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">

    <div class="container head">

        <a href="/shop" class="shop">全部商品分类 </a>
        <div class="lists">
            <ul>
                <li><a href="#">笔记本</a></li>
                <li><a href="#">笔记本</a></li>
                <li><a href="#">笔记本</a></li>
                <li><a href="#">笔记本</a></li>
                <li><a href="#">笔记本</a></li>
                <li><a href="#">笔记本</a></li>
            </ul>
        </div>

        <a href="#" class="acces">电脑配件</a>
        <a href="#" class="hot">热销商品</a>
        <a href="#" class="brand">品牌介绍</a>
        <a href="#" class="uses">个人中心</a>


    </div>
    {#    广告图#}
    <div style="height: 500px;background-color: gray"></div>
</nav>


<div class="container">

    <ul class="selling">
        <li><a href="#"><img src="{% static 'img/d1.jpg' %}" alt=""></a></li>
        <li><a href="#"><img src="{% static 'img/d2.jpg' %}" alt=""></a></li>
        <li><a href="#"><img src="{% static 'img/d3.jpg' %}" alt=""></a></li>
    </ul>
    <ul class="notbooks">
        <li><a href="#"><img src="{% static 'img/con1.jpg' %}" alt=""></a></li>
        <li><a href="#"><img src="{% static 'img/con1.jpg' %}" alt=""></a></li>
        <li><a href="#"><img src="{% static 'img/con1.jpg' %}" alt=""></a></li>
        <li><a href="#"><img src="{% static 'img/con1.jpg' %}" alt=""></a></li>
    </ul>
</div>
<div style="margin-top: 110px;text-align: center">
    <img src="{% static 'img/ad.jpg' %}" alt="" style="width: 100%;">
    <h1 style="color: #F5F5F5;font-weight: bold;margin-top: 50px;">NEW PRODUCES</h1>
    <h3>
        <del style="margin-right: 15px;color: #e8e8e8;">------</del>
        上新产品
        <del style="margin-left: 15px;color: #e8e8e8;">------</del>
    </h3>
    <p style="color: #9e9e9e;">更轻薄、更优雅、更简洁</p>
    <p style="color: #9e9e9e;">我们希望每个细节都完美的与您相遇</p>
</div>
{#新产品#}
<div class="container">
    <ul class="pb">
        <li><img src="{% static 'img/pb1.jpg' %}" alt=""></li>
        <li><img src="{% static 'img/pb1.jpg' %}" alt=""></li>
        <li><img src="{% static 'img/pb1.jpg' %}" alt=""></li>
    </ul>
</div>
{#电脑配件#}
<div style="margin-top: 110px;text-align: center">
    <ul class="pj">
        <li><img src="{% static 'img/peijian.jpg' %}" alt="" style="width: 100%;"></li>
    </ul>
</div>

<div class="container">
    <ul class="bijib">
        <li><img src="{% static 'img/bijib.jpg' %}" alt=""></li>
        <li><img src="{% static 'img/bijib.jpg' %}" alt=""></li>
        <li><img src="{% static 'img/bijib.jpg' %}" alt=""></li>

        <li><img src="{% static 'img/bijib.jpg' %}" alt=""></li>
        <li><img src="{% static 'img/bijib.jpg' %}" alt=""></li>
        <li><img src="{% static 'img/bijib.jpg' %}" alt=""></li>
    </ul>
</div>
{#笔记本的新产品#}
<div class="container">
    <ul class="newbjb pb ">
        <li><img src="{% static 'img/newbjb.jpg' %}" alt=""></li>
        <li><img src="{% static 'img/newbjb.jpg' %}" alt=""></li>
        <li><img src="{% static 'img/newbjb.jpg' %}" alt=""></li>
    </ul>
</div>
<div class="footer" style="background-color: #2b2b2b;height: 212px;">
    <div class="container">
        <ul>
            <li>一年免费保修</li>
            <li>一年免费保修</li>
            <li>一年免费保修</li>
            <li>一年免费保修</li>
        </ul>
    </div>
</div>
</body>
</html>