{% extends 'base.html' %}
{% load static %}
{% block title %} 新闻大事件{% endblock %}
{% block css %}
    <script type="text/javascript" src="{% static 'js/news.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
    <style type="text/css">
        .news {
            background-color: #e7e7e7;
        }


    </style>
{% endblock %}


{% block content %}

    <div class="container">
        <h2>时事新闻</h2>
        <ul class="newul">
            {% for ti in paper_title %}

                <li>
                    <img src="http:{{ ti.img }}" alt="123">
                    <h2>
                        <a target="_blank" href="{{ ti.urls }}">{{ ti.tt }}</a>
                    </h2>

                </li>
            {% endfor %}
        </ul>
        <h2>新浪新闻</h2>
        <ul class="newul">
            {% for ti in sina_title %}

                <li>
                    <h2>
                        <a target="_blank" href="{{ ti.urls }}">{{ ti.tt }}</a>
                    </h2>

                </li>
            {% endfor %}
        </ul>
        <h2>百度新闻</h2>
        <ul class="newul">
            {% for ti in baidu_title %}

                <li>
                    <h2>
                        <a target="_blank" href="{{ ti.urls }}">{{ ti.tt }}</a>
                    </h2>

                </li>
            {% endfor %}
        </ul>
        <h2>环球汽车</h2>
        <ul class="newul">
            {% for ti in car_title %}

                <li>
                    <h2>
                        <a target="_blank" href="{{ ti.urls }}">{{ ti.tt }}</a>
                    </h2>

                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

