{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}cz9025的网站{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
	
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <style type="text/css">
        .footer {

        }
    </style>

    {#    <script type="text/javascript" src="{% static 'public/bootstrap.js' %}"></script>#}
    {% block css %}{% endblock %}

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-nav"
                    aria-expanded="false">
                <span class="sr-only">切换导航条</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/blog">cz9025的网站</a>
        </div>

        <div class="collapse navbar-collapse" id="my-nav">
            <ul class="nav navbar-nav" id="navs">
                <li><a href="{% url 'blog:index' %}" class="index">主页</a></li>
                <li><a href="{% url 'csdn:index' %}" class="csdn">CSDN</a></li>

                <li><a href="{% url 'news:index' %}" class="news">新闻大事件</a></li>
                <li><a href="{% url 'resume:index' %}" class="resume">个人简介</a></li>

                <li><a href="{% url 'interface:index' %}" class="interface">接口测试</a></li>

                <li><a href="{% url 'shop:index' %}" class="shop">平台商城</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">

                {% if request.user.is_authenticated %}

                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            {{ request.user }}&nbsp; 你好，欢迎回来！<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'myblog:mblog' %}">我的博客</a></li>
                            <li><a href="{% url 'myblog:mdeditor' %}">发表博客</a></li>
                            <li><a href="{% url 'center:usercenter' request.user.username %}">个人资料</a></li>
                            <li><a href="{% url 'set_pwd' %}">修改密码</a></li>

                        </ul>
                    </li>


                    <li><a href="{% url 'log_out' %}">退出登录</a></li>
                {% else %}
                    <li><a href="{% url 'uselogin' %}" id="login">登录</a></li>
                    <li><a href="{% url 'register' %}">注册</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{% block content %}

{% endblock %}
{#到时写底部内容#}
<div class="footer" style="height: 1px;margin-top: 50px"></div>
</body>
</html>