{% extends 'base.html' %}
{% load static %}

{% block title %}{{ blog.title }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/blog_page.css' %}">
    <script type="text/javascript" src="{% static 'editor/lib/marked.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'editor/lib/prettify.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'editor/lib/raphael.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'editor/lib/underscore.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'editor/lib/sequence-diagram.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'editor/lib/flowchart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'editor/lib/jquery.flowchart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'editor/editormd.min.js' %}"></script>
{% endblock %}
{% block content %}

    <div class="container">
        <h2 class="blog-title">{{ blog.title }}</h2>
        <br>
        <div class="userbar">
            <div class="fl">
                <span class="utime">{{ blog.ctime |date:"Y年m月d日 H:i:s" }}</span>
            </div>
            <div class="fr text-primary"> {{ blog.rcount }} 阅读</div>
        </div>
        <br>
        <br>
{#        <pre class="blog">{{ blog.content|safe}}</pre>#}


        <div id="doc-content">
            <textarea style="display:none;">{{blog.content }}</textarea>
        </div>
        <script type="text/javascript">
            var testEditor;
            $(function () {
                testEditor = editormd.markdownToHTML("doc-content", {//注意：这里是上面DIV的id
                    htmlDecode: "style,script,iframe",
                    emoji: true,
                    taskList: true,
                    tex: true, // 默认不解析
                    flowChart: true, // 默认不解析
                    sequenceDiagram: true, // 默认不解析
                    codeFold: true,
            });});
         </script>
        <span class="">个人分类：<a class="marks" href="{% url 'blog:marks' blog.marks %}">{{ blog.marks }}</a></span>

        <a class="pull-right" id="likes" href="javascript:void(0);"> 点赞</a>
        <span id="zan" class="pull-right">{{ blog.like }} </span>

        <script>
            $(function () {
                $('#likes').click(function () {
                    $.ajax({
                        type: "get",
                        url: "{% url 'blog:ulike' blog.id %}",

                        async: true,
                        success: function (data) {
                            //1没有点赞，2点过赞

                            if (data.toString() === "1") {
                                $('#zan').text(parseInt({{ blog.like }}) + 1);

                            }
                            if (data === '2') {
                                {#$("#likes").attr("title","您已点过赞啦！");#}
                                alert("您已经点过赞了");
                            }
                        }
                    });
                });
            });
        </script>

        <div class="row">
            <div class="col-md-10">
                <p class="mcoms">全部评论：</p>
                {% if not comm %}
                    <p style="margin-left: 200px;"> 暂无评论，快来发表你的看法吧！</p>
                {% endif %}
                <ul class="clearfix" id="blog_comms">
                    {% for com in comm %}

                        <li id="com-{{ com.id }}" class="col-md-10">
                            <div class="top">

                                <img  class="tou" src="{{ MEDIA_URL }}{{ com.uses }}.png">
                                {#  {% url 'edit_blog' blog.id %}#}
                                <span class="nick"><a
                                        href="{% url 'center:usercenter' com.uses %}">{{ com.uses }}</a></span>

                                <span class="fr"> {{ com.ctime |date:"Y年m月d日 H:i:s" }}</span>

                            </div>

                            <p class="con">{{ com.comms }}
                                {% ifequal com.uses request.user.username %}

                                    <span class="fr">
                                        <a class="a-del" onclick="deleteComments({{ com.id }})"
                                           href="javascript:void(0);">删 除</a>

                                    </span>
                                {% endifequal %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            {#删除自己的评论#}
            $(function () {
                {#如果用户没有上传图片，则显示默认的#}
                $(".tou").on("error", function () {
                    $(this).attr("src", "{{ MEDIA_URL }}default_head_pic.png");
                });
                deleteComments = function (id) {
                    $.ajax({
                        url: "{% url 'blog:delcomm' blog.id %}",
                        dataType: 'html',
                        type: "get",
                        async: true,
                        data: {"id": id},
                        success: function (data) {
                            alert("删除成功");
                            console.log(data);
                            {#window.location.reload();#}
                            $("#com-" + id).remove();
                            {#$("#blog_comms").load("{{ request.get_host}}{{ request.path}}#blog_comms");#}
                            console.log("{{ request.get_host}}{{ request.path}}")

                        }, error: function (e) {
                            alert("删除失败");
                            console.log(e);
                        }
                    });
                }
            });
        </script>
        <p class="mcoms">我来评论:</p>
        <div class="comms">


            {% if not request.user.is_authenticated %}
                <div class="gologin">
                    <span class="sp">
                        您暂未登录，请<a href="{% url 'uselogin' %}">登录</a>后再发表评论!
                    </span>
                </div>
            {% else %}

                <form id="form1" action="{% url 'blog:blog_page' blog.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="blog_id" value="{{ blog.id }}">

                    <textarea class="pcon " name="comment" maxlength="300" required></textarea>

                    <button type="submit" id="sub" class="btn btn-primary pull-right">发表</button>

                </form>
            {% endif %}

        </div>

    </div>
{% endblock %}