{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
    {% if request.user.is_authenticated %}
        {{ request.user }}的个人资料
    {% else %}
        个人资料
    {% endif %}
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/center.css' %}">

{% endblock %}
{% block content %}
    <div class="container">
    <h4>我的基本信息：</h4>

        <ul class="user">
            <li>
                <div>用户名: &nbsp;&nbsp;&nbsp;{{ request.user }}
                    <button class="btn btn-default fr name">修改</button>
                </div>
            </li>
            <li>
                <div>密码:&nbsp;&nbsp;&nbsp; ****** <a href="{% url 'set_pwd' %}" class="btn btn-default fr name">修改</a></div>
            </li>
            <li>
                <div>邮箱: &nbsp;&nbsp;&nbsp;{{ user.email }}
                    <button class="btn btn-default fr name">修改</button>
                </div>
            </li>

        </ul>
        <h3>先放着，样式没想好；考虑用jquery，点击时下滑显示输入框，点击提交时隐藏</h3>
{#        <input type="text" readonly value="66666666666666666666" style="border: solid 1px darkgray">#}

    </div>

{% endblock %}